<h1>New Article</h1>

<form action="/articles" method="POST">
    <input type="text" name="article[name]" placeholder="name">
    <input type="text" name="article[author]" placeholder="author">
    <input type="text" name="article[article]" placeholder="article">
    <button>Submit</button>
</form>